name: pytest

on:
  pull_request:
    branches:
      - development
      - release

  push:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install poetry build system and dependencies
        run: |
          export POETRY_VIRTUALENVS_CREATE=false
          curl -sSL https://install.python-poetry.org | python3 - --version 1.3.2
          pip install -U pip
          poetry install

      - name: Run tests
        run: |
          make test
